
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@font-face{
  font-family: Aurulent;
  src: url(AurulentSansMono_Regular.otf);
}


body {
text-align: justify;
font-size :20px;
font-family: 'Muli';
color: #3e3838;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Muli","Segoe UI","Cuprum",Tahoma,"Helvetica Neue",Helvetica,Arial;
    font-weight: 500;
    line-height: 1.1;
    color: #3a87ad;
    font-size: 26px;

  
}
    

    
h1, h2, h3 {
    font-family: "Muli","Segoe UI","Cuprum",Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #0e0e0e;
    background-color: #edf0f2;
    padding: 10px;
    text-align:left;
}


h1.title {
    font-size: 36px;
    text-align: center;
    color: #9F2042;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

caption {
    
    color: #1528b9;
    
}

#table-of-contents h2 {
    background-color: #329D9C;
    border-bottom: solid 10px #e93133;
    font-family: Muli;
    
}

#table-of-contents a {
  color:#111;
  font-family: Muli;
}

#table-of-contents{
  background:#edf0f2;
  font-family: Muli;
}

a{
  color:#291ecc;
  text-align: left;
}

a:visited{
  color:#291ecc;
}
#postamble{
  text-align:left;
  border-top: solid 10px #e93133;
  background: #329D9C;
  font-size: 80%;
  font-family: Muli;
}

code, kbd, pre, samp {
    font-family: Aurulent,'Ubuntu Mono',Menlo,Monaco,Consolas,"Courier New",monospace;
}


#content pre code {
  font-family: Aurulent,'Ubuntu Mono',Menlo,Monaco,Consolas,"Courier New",monospace;
}

#main .nav-tabs li.active a {
    color: #333;
    border-bottom: 1px solid #fcfcfc;
    background-color: #387bf38c;
    font-family: Mulit;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
    font-family: Muli;
}

table {
  font-size: 16px;
}

#table-of-contents ul.nav li.active ul li a {
  font-family: Muli;
}


